{% extends "base.html" %}

{% block title %}
New Post
{%endblock%}



{% block content %}
<h1>New Post</h1>
<form action='/add_post_resolve/{{user_id}}' method="POST">
  <p>Title:     <input name="title"></p>
  <p>Content:  <input name="content"></p>
  {% for tag in tags %}
    <input type="checkbox" id="tag{{tag.id}}" name="{{tag.id}}" value="{{ tag.name }}">
    <label for="tag{{tag.id}}"> {{tag.name}} </label><br>
  {% endfor %}
  <button>Save</button>
</form>
<a href="/">Cancel</a>
{%endblock%}